.bgimg{
    // background-image: url('https://images7.alphacoders.com/865/865098.jpg');
    // background-image: url('https://cdn.wallpapersafari.com/50/99/AQYvbO.jpg');
    // background-image: url('https://c4.wallpaperflare.com/wallpaper/126/117/95/quote-motivational-digital-art-typography-wallpaper-preview.jpg');
    // background-image: url('https://media.istockphoto.com/id/1420039900/photo/cyber-security-ransomware-email-phishing-encrypted-technology-digital-information-protected.jpg?b=1&s=170667a&w=0&k=20&c=CnXO_hc7YtdR0CSVwE1bQFQrxBdR_qzfsfLuD8aKhfA=');
    background-image:url('https://w0.peakpx.com/wallpaper/316/433/HD-wallpaper-books-library-shelves-lighting.jpg');
    background-size: cover;
    min-height: 100vh;
}
.btn{
  border-bottom: solid;
}

.my-link {
  cursor: pointer;
}
    
    