
<!-- <a class="" routerLink="/blog/video">Go to story</a> -->


<div class="bgimg">
    <span class="text-center">
        <h1 class="fw-bolder txtwid " style="font-size: 125px; font-style: oblique; color: rgb(255, 242, 97);">
            National</h1>
            <h2 class="fw-bolder txtwid2 " style="font-size: 100px; font-style: oblique; color: rgb(255, 240, 69);">
                BookStore</h2>
    </span> <br>
    <div class="text-center">
        <button class="btn btn-outline-primary p-0" style="font-size: 55px; font-weight: bolder; border-radius: 2rem;" (click)="loginpage()">
            Login
        </button>
    </div>
       

</div>

