 <!-- <div class="" *ngIf="navShow==true">
  <nav class="navbar navbar-expand-lg bg-primary ">
    
    <div class="container-fluid">
      <a class="navbar-brand " href="#" >Navbar  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <input type="text" placeholder="Search.." bg color="dark"> search</button>
  
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link "  routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contect">contect</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutme">aboutme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/boxing">boxing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profilecard">profilecard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/singleform">singleform</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reactiveform">reactiveform</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/example">example</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/htmlinputs">htmlinputs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dummy">SmartPhones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userDetails">UserDetails</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pictures">Pictures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/test">angukar meterial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/loginCard">loginCard</a>
          </li>
  
          <li class="navitem">
            <a class="nav-link" routerLink="/website">website</a>
          </li>
        </ul> 
      </div>
    </div>
  </nav>
 </div> -->


  
    <div>
        <router-outlet></router-outlet>
    </div>

<!-- <label for="start">Start date:</label>

    <input type="date" id="start" name="trip-start"
           value="2018-07-22"
           min="2018-01-01" max="2018-12-31">
     -->



<!-- <app-example [subjectChild]="subjectParent"></app-example> -->

<!-- <p>Number from child => {{ randomNumber }}</p> -->

<!-- <app-reactiveform [subjectChild]="subjectParent" 
     (numberGenerated1)="onNumberGenerated($event)"></app-reactiveform> -->


     <!-- <app-angular-grid></app-angular-grid> -->