<div class="container rounded  bg-white mt-5 mb-5 height border border-dark">


    <div class="row width">
        <div class="col-md-3  border border-dark  mx-2 my-2">
            <div class="row width3  border border-dark  mx-2 my-2 "></div>
            <div class="row width31  border border-dark  mx-2 my-2"></div>
            <div class="row width31  border border-dark  mx-2 my-2"></div>

        </div>
        <div class="col-md-5  mx-2 my-2">
            <div class="row width5  border border-dark  px-2 py-2 ">

                <div class="col-sm-4">
                    <div class="card border border-dark "></div>
                </div>
                <div class="col-sm-4  ">
                    <div class="card border border-dark "></div>
                </div>
                <div class="col-sm-4 ">
                    <div class="card border border-dark "></div>
                </div>
            </div> 
            
            <br>
            <div class="row width52 border border-dark  ">
                <div class="col-md-5 border border-dark  mx-2 my-2"></div>
                <div class="col-md-5 border border-dark  mx-2 my-2"></div>
            </div>

        </div>
        <div class="col-md-3 border border-dark  mx-2 my-2 ">
            <div class="row width4  border border-dark  mx-2 my-2"></div>
            <div class="row width4  border border-dark  mx-2 my-2"></div>

        </div>
    </div>
</div>