.height{
    max-width: 750px;
    height: 577px;
}
.width{
    height: 500px;
}
.width5{
    height: 225px;
}
.width4{
    height: 275px;
    
}
.width3{
    height: 150px;
    
}
.width31{
    height: 150px;
}
.width52{
    width: 312px;
    height: 274px;
}
